gtts==2.3.2
langchain>=0.0.163
librosa==0.10.0.post2
pyttsx3==2.90
sounddevice==0.4.6
soundfile==0.12.1
transformers>=4.27.1
sentence_transformers
unstructured[local-inference]
openai>=0.27.6
faiss-cpu
nltk
textdistance